html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  background-color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
}
