html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  background-color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
}

.c-philo {
  background-color: #9dcec7;
}
.c-philo-wrap {
  padding: 3.5% 0;
}
@media screen and (max-width: 1024px) {
  .c-philo-wrap {
    padding: 5% 0;
  }
}
@media screen and (max-width: 480px) {
  .c-philo-wrap {
    padding: 7.5% 0;
  }
}
.c-philo-wrap__top {
  background-color: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2% 8.5% 2% 5%;
  -webkit-clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 80% 0%, 100% 100%, 0% 100%);
}
@media screen and (max-width: 768px) {
  .c-philo-wrap__top {
    padding: 3% 9.5% 3% 6%;
  }
}
.c-philo-wrap__top h2 {
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}
.c-philo-wrap__middle {
  position: relative;
  margin: 3.5% 0;
}
@media screen and (max-width: 1024px) {
  .c-philo-wrap__middle {
    margin: 5% 0;
  }
}
@media screen and (max-width: 480px) {
  .c-philo-wrap__middle {
    margin: 7.5% 0;
  }
}
.c-philo-wrap__middle__left {
  width: 60%;
  -webkit-clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 60% 0%, 100% 100%, 0% 100%);
  aspect-ratio: 16/9;
}
.c-philo-wrap__middle__left img {
  width: 100%;
  height: 100%;
  display: block;
}
.c-philo-wrap__middle__right {
  width: 60%;
  position: absolute;
  aspect-ratio: 16/9;
  top: 0;
  right: 0;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%);
}
.c-philo-wrap__middle__right img {
  width: 100%;
  height: 100%;
  display: block;
}
.c-philo-wrap__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.c-philo-wrap__bottom__clip {
  background-color: #fff;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2% 2% 2% 9.5%;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 10% 100%);
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .c-philo-wrap__bottom__clip {
    padding: 3% 3% 3% 10.5%;
  }
}
.c-philo-wrap__bottom__clip p {
  font-size: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);
  line-height: 1.6;
}

.c-intro-wrap {
  background-color: #fff;
  margin: 5% 0;
}
@media screen and (max-width: 768px) {
  .c-intro-wrap {
    margin: 7.5% 0;
  }
}
.c-intro-wrap__block {
  margin: 2.5% 0;
}
@media screen and (max-width: 768px) {
  .c-intro-wrap__block {
    margin: 5% 0;
  }
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block {
    margin: 10% 0;
  }
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block.__second {
    margin: 10% 0 15%;
  }
}
.c-intro-wrap__block__ttl {
  text-align: center;
}
.c-intro-wrap__block__ttl h2 {
  display: inline-block;
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  line-height: 2.5;
  position: relative;
}
.c-intro-wrap__block__ttl h2::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 2px;
  background-color: #28b19c;
}
.c-intro-wrap__block__ttl.__second h2::after {
  background-color: #777;
}
.c-intro-wrap__block hr {
  border-top: 1px solid #28b19c;
  margin: 0.5em 0;
}
.c-intro-wrap__block.__second hr {
  border-top: 1px solid #555;
}
.c-intro-wrap__block.__second hr.__dashed {
  border-top: 1px dashed #555;
}
.c-intro-wrap__block__con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5% auto;
}
@media screen and (max-width: 768px) {
  .c-intro-wrap__block__con {
    margin: 7.5% auto;
  }
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con {
    display: block;
  }
}
.c-intro-wrap__block__con.__second {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.c-intro-wrap__block__con__left {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con__left {
    width: 100%;
    margin-top: 5%;
  }
}
.c-intro-wrap__block__con__left__mes p {
  font-size: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);
  line-height: 1.6;
}
.c-intro-wrap__block__con__left__name p {
  font-size: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  font-family: "Zen Kurenaido", sans-serif;
  font-weight: 400;
  text-align: right;
}
.c-intro-wrap__block__con__left__img {
  width: 100%;
}
.c-intro-wrap__block__con__left__img img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-intro-wrap__block__con__left.__second {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con__left.__second {
    width: 100%;
  }
}
.c-intro-wrap__block__con__right {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con__right {
    width: 100%;
  }
}
.c-intro-wrap__block__con__right__img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .c-intro-wrap__block__con__right__img {
    aspect-ratio: 4/3;
  }
}
.c-intro-wrap__block__con__right__img img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-intro-wrap__block__con__right__list {
  width: 100%;
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con__right__list {
    margin: 7.5% 0;
  }
}
.c-intro-wrap__block__con__right__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5em 0;
}
.c-intro-wrap__block__con__right__list__item:nth-of-type(1) {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .c-intro-wrap__block__con__right__list__item {
    margin: 1em 0;
  }
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con__right__list__item {
    margin: 1em 0;
  }
}
.c-intro-wrap__block__con__right__list__item__ttl {
  width: 30%;
  font-size: clamp(0.688rem, 0.598rem + 0.45vw, 1rem);
}
.c-intro-wrap__block__con__right__list__item__con {
  font-size: clamp(0.688rem, 0.598rem + 0.45vw, 1rem);
}
.c-intro-wrap__block__con__right__list__item__con span {
  display: block;
  margin-bottom: 1em;
}
.c-intro-wrap__block__con__right.__second {
  width: 52.5%;
}
@media screen and (max-width: 768px) {
  .c-intro-wrap__block__con__right.__second {
    width: 56.5%;
  }
}
@media screen and (max-width: 480px) {
  .c-intro-wrap__block__con__right.__second {
    width: 100%;
  }
}
