@charset "UTF-8";
html {
  font-size: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-family: "Noto Serif JP", serif;
  font-weight: 700;
  background-color: #fff;
  line-height: 1;
  letter-spacing: 1px;
  word-break: break-all;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.s-reason {
  background-color: #9dcec7;
  padding: 7.5% 0;
}
@media screen and (max-width: 480px) {
  .s-reason {
    padding: 10% 0;
  }
}
.s-reason-wrap {
  display: flex;
  flex-direction: column;
}
.s-reason-wrap__top__bg {
  position: relative;
}
.s-reason-wrap__top__bg h3 {
  color: rgba(40, 177, 156, 0.3);
  font-size: clamp(4rem, 0.571rem + 17.14vw, 16rem);
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__top__bg h3 {
    position: relative;
    top: 3vh;
  }
}
.s-reason-wrap__top__bg__ttl {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 50%;
  text-align: center;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  left: 50%;
  top: 0;
  height: 100px;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
@media screen and (max-width: 1024px) {
  .s-reason-wrap__top__bg__ttl {
    width: 53.5%;
    height: 75px;
  }
}
@media screen and (max-width: 768px) {
  .s-reason-wrap__top__bg__ttl {
    height: 55px;
    width: 67.5%;
  }
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__top__bg__ttl {
    height: 45px;
    width: 80%;
  }
}
.s-reason-wrap__top__bg__ttl h2 {
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
}
@media screen and (max-width: 768px) {
  .s-reason-wrap__top__bg__ttl h2 {
    font-size: clamp(1.125rem, 0.078rem + 3.48vw, 1.75rem);
  }
}
.s-reason-wrap__top__bg__shadow {
  position: absolute;
  z-index: 1;
  background-color: #000;
  filter: blur(200px);
  height: 100px;
  width: 50%;
  text-align: center;
  clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
  left: 50.3%;
  top: 2%;
  transform: translateX(-50%);
  padding-right: 10px;
}
@media screen and (max-width: 1024px) {
  .s-reason-wrap__top__bg__shadow {
    height: 75px;
    width: 53.5%;
  }
}
@media screen and (max-width: 768px) {
  .s-reason-wrap__top__bg__shadow {
    height: 55px;
    width: 67.5%;
  }
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__top__bg__shadow {
    height: 45px;
    width: 80%;
  }
}
.s-reason-wrap__bottom {
  width: 100%;
  background-color: #fff;
  z-index: 2;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom {
    width: calc(100vw - 2 * (100vw - 111%) / 2);
    margin-left: -5vw;
    margin-top: 7.5%;
  }
}
.s-reason-wrap__bottom__block {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__block {
    display: block;
    padding: 7.5% 5%;
  }
}
.s-reason-wrap__bottom__block__left {
  width: 60%;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__block__left {
    width: 100%;
  }
}
.s-reason-wrap__bottom__block__left__ttl h3 {
  font-size: clamp(1rem, 0.714rem + 1.43vw, 2rem);
  font-weight: 500;
  left: 5%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .s-reason-wrap__bottom__block__left__ttl h3 {
    font-size: clamp(1rem, 0.372rem + 2.09vw, 1.375rem);
  }
}
.s-reason-wrap__bottom__block__left__ttl h3::before {
  content: "";
  width: 2px;
  height: 1em;
  background-color: #000;
}
.s-reason-wrap__bottom__block__left__ttl h3 span {
  font-size: clamp(0.875rem, 0.625rem + 1.25vw, 1.75rem);
  margin-right: 4%;
  margin-left: 4%;
}
.s-reason-wrap__bottom__block__left__txt {
  margin-top: 7.5%;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__block__left__txt {
    margin-bottom: 7.5%;
  }
}
.s-reason-wrap__bottom__block__left__txt p {
  font-size: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);
  font-weight: 400;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .s-reason-wrap__bottom__block__left__txt p {
    font-size: clamp(0.563rem, 0.248rem + 1.05vw, 0.75rem);
  }
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__block__left__txt p {
    font-size: 10px;
  }
}
.s-reason-wrap__bottom__block__right {
  width: 35%;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__block__right {
    width: 100%;
  }
}
.s-reason-wrap__bottom__block__right__img {
  width: 100%;
  aspect-ratio: 3/2;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__block__right__img {
    aspect-ratio: 16/9;
  }
}
.s-reason-wrap__bottom__block__right__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.s-reason-wrap__bottom hr {
  border-top: 1px solid #555;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom hr {
    margin: 2.5% auto;
  }
}
.s-reason-wrap__bottom__btn {
  padding-bottom: 3.5%;
}
.s-reason-wrap__bottom__btn__inner {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: -2.5%;
  gap: 1%;
}
@media screen and (max-width: 480px) {
  .s-reason-wrap__bottom__btn__inner {
    margin-bottom: 2.5%;
  }
}
.s-reason-wrap__bottom__btn__inner p {
  border-bottom: 1px solid #28b19c;
  padding-bottom: 7px;
  color: #28b19c;
  font-size: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);
}

.s-menu-wrap__bg {
  background-color: #fff;
}
.s-menu-wrap__bg__inner {
  background-color: #9dcec7;
  margin: 15% 0;
  position: relative;
  height: clamp(31.25rem, 9.777rem + 33.52vw, 50rem);
}
@media screen and (max-width: 1024px) {
  .s-menu-wrap__bg__inner {
    margin: 17.5% 0;
    height: clamp(26.25rem, 11.172rem + 31.37vw, 31.25rem);
  }
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner {
    margin: 22.5% 0;
    height: clamp(18.75rem, 6.18rem + 41.81vw, 26.25rem);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner {
    margin: 32.5% 0;
    height: clamp(36.875rem, 28.125rem + 43.75vw, 41.25rem);
  }
}
.s-menu-wrap__bg__inner__block {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block {
    width: 95%;
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block {
    width: 90%;
  }
}
.s-menu-wrap__bg__inner__block.__first {
  left: 50%;
  top: 0;
  transform: translate(-50%, -25%);
}
@media screen and (max-width: 1024px) {
  .s-menu-wrap__bg__inner__block.__first {
    transform: translate(-50%, -30%);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block.__first {
    transform: translate(-50%, -23%);
  }
}
.s-menu-wrap__bg__inner__block.__second {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 25%);
}
@media screen and (max-width: 1024px) {
  .s-menu-wrap__bg__inner__block.__second {
    transform: translate(-50%, 30%);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block.__second {
    transform: translate(-50%, 23%);
  }
}
.s-menu-wrap__bg__inner__block__ttl {
  box-sizing: border-box;
  padding: 5%;
  background-color: #28b19c;
  border-radius: 20px 20px 0 0;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__ttl {
    padding: 5% 3.5%;
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__ttl {
    text-align: center;
    padding: 10% 7.5%;
  }
}
.s-menu-wrap__bg__inner__block__ttl h2 {
  font-size: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__ttl h2 {
    font-size: clamp(1.125rem, 0.078rem + 3.48vw, 1.75rem);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__ttl h2 {
    font-size: 20px;
  }
}
.s-menu-wrap__bg__inner__block__con {
  box-sizing: border-box;
  padding: 5%;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 20px 20px;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__con {
    padding: 5% 3.5%;
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con {
    display: block;
  }
}
.s-menu-wrap__bg__inner__block__con__left {
  width: 55%;
}
@media screen and (max-width: 1024px) {
  .s-menu-wrap__bg__inner__block__con__left {
    width: 53%;
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__left {
    width: 100%;
  }
}
.s-menu-wrap__bg__inner__block__con__left p {
  font-size: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);
  font-weight: 500;
  line-height: 1.6;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__con__left p {
    font-size: clamp(0.563rem, 0.248rem + 1.05vw, 0.75rem);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__left p {
    font-size: 10px;
  }
}
.s-menu-wrap__bg__inner__block__con__right {
  width: 40%;
}
@media screen and (max-width: 1024px) {
  .s-menu-wrap__bg__inner__block__con__right {
    width: 44%;
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__right {
    width: 100%;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box {
  margin-top: -30%;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding: 7.5% 5%;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__right__box {
    margin-top: 5%;
    padding: 5%;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box__ttl {
  display: flex;
  align-items: center;
  margin-bottom: 7.5%;
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__right__box__ttl {
    margin-bottom: 0;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box__ttl span {
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__con__right__box__ttl span {
    width: 20px;
    height: 20px;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box__ttl span svg {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__con__right__box__ttl span svg {
    width: 15px;
    height: 15px;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box__ttl h3 {
  font-size: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);
  padding-left: 3.5%;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__con__right__box__ttl h3 {
    font-size: clamp(0.625rem, 0.311rem + 1.05vw, 0.813rem);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__right__box__ttl h3 {
    font-size: 12px;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box hr {
  border-top: 1px solid #aaa;
}
.s-menu-wrap__bg__inner__block__con__right__box__txt p {
  margin-top: 1.5em;
  font-size: clamp(0.688rem, 0.598rem + 0.45vw, 1rem);
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .s-menu-wrap__bg__inner__block__con__right__box__txt p {
    font-size: clamp(0.5rem, -0.024rem + 1.74vw, 0.813rem);
  }
}
@media screen and (max-width: 480px) {
  .s-menu-wrap__bg__inner__block__con__right__box__txt p {
    font-size: 12px;
  }
}
.s-menu-wrap__bg__inner__block__con__right__box__txt p::before {
  content: "ãƒ»";
}
