$cWhite: #fff;

$cBlack: #000;

$cGray: #555;

$cGray-2: #aaa;

$cGray-3: #777;

$cGray-light: #eee;

$cBlack-clear: rgba(0, 0, 0, 25%);

$cBlack-clear-2: rgba(0, 0, 0, 15%);

$cBlack-clear-3: rgba(0, 0, 0, 45%);

$cBrand: #28b19c;

$cBrand-clear: rgba(40, 177, 156, 0.3);

$cBrand-2: #9dcec7;

$cBrand-3: #d5f2ee;

$cYellow: #ffbf00;
