$font-normal: "Noto Serif JP", serif;

$font-title: "Kaisei Decol", serif;

$font-greet: "Zen Kurenaido", sans-serif;

$font-16-20: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);

$font-20-48: clamp(1.25rem, 0.75rem + 2.5vw, 3rem);

$font-20-40: clamp(1.25rem, 0.893rem + 1.79vw, 2.5rem);

$font-10-12: clamp(0.625rem, 0.589rem + 0.18vw, 0.75rem);

$font-10-14: clamp(0.625rem, 0.554rem + 0.36vw, 0.875rem);

$font-10-16: clamp(0.625rem, 0.518rem + 0.54vw, 1rem);

$font-11-16: clamp(0.688rem, 0.598rem + 0.45vw, 1rem);

$font-11-20: clamp(0.688rem, 0.527rem + 0.8vw, 1.25rem);

$font-12-16: clamp(0.75rem, 0.679rem + 0.36vw, 1rem);

$font-12-20: clamp(0.75rem, 0.607rem + 0.71vw, 1.25rem);

$font-12-24: clamp(0.75rem, 0.536rem + 1.07vw, 1.5rem);

$font-14-20: clamp(0.875rem, 0.768rem + 0.54vw, 1.25rem);

$font-14-20__top: clamp(0.875rem, 0.445rem + 0.89vw, 1.25rem);

$font-14-24: clamp(0.875rem, 0.696rem + 0.89vw, 1.5rem);

$font-14-28: clamp(0.875rem, 0.625rem + 1.25vw, 1.75rem);

$font-16-20: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);

$font-16-24: clamp(1rem, 0.857rem + 0.71vw, 1.5rem);

$font-16-32: clamp(1rem, 0.714rem + 1.43vw, 2rem);

$font-8-20__top: clamp(0.5rem, 0.124rem + 1.25vw, 1.25rem);
